production:
  adapter: postgresql
  database: app_{{app_name}}
development:
  adapter: postgresql
  database: app_{{app_name}}_development
test:
  adapter: postgresql
  database: app_{{app_name}}_test
