#!/usr/bin/env puma

directory '{{deploy_directory}}/current'
rackup "{{deploy_directory}}/current/config.ru"
environment ENV['RACK_ENV']

pidfile "{{deploy_directory}}/shared/tmp/pids/puma.pid"
state_path "{{deploy_directory}}/shared/tmp/sockets/puma.state"
stdout_redirect '{{deploy_directory}}/shared/log/puma_access.log', '{{deploy_directory}}/shared/log/puma_error.log', true

bind 'unix:{{deploy_directory}}/shared/tmp/sockets/puma.sock'

preload_app!

threads 0,8
workers 3

on_worker_boot do
	if defined?(ActiveSupport) && defined?(ActiveRecord)
		ActiveSupport.on_load(:active_record) do
  	  ActiveRecord::Base.establish_connection
  	end
	end

	if defined?(OnWorkerBoot)
		OnWorkerBoot.boot
	end
end

on_restart do
  puts 'Refreshing Gemfile'
  ENV["BUNDLE_GEMFILE"] = "{{deploy_directory}}/current/Gemfile"
end
